/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Definição de variáveis de estilo */
:root {
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --cor-primaria: #2b4c7e;
    --cor-secundaria: #1f1f20;
    --cor-terciaria: #567ebb;
    --cor-quartenaria: #dce0e6;
    --cor-quintenaria: white;
}

/* Reset de margens, preenchimentos e scroll suave para toda a página */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Estilo geral do corpo da página */
body {
    background-color: var(--cor-quartenaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Container principal da página */
.page-container {
    background-color: var(--cor-terciaria);
    border: 0.25rem solid var(--cor-secundaria);
    border-radius: 1.8rem;
  
    
 
}

/* Título principal da página */
.index-title {
    color: var(--cor-secundaria);
    text-shadow: 1px 1px 1px var(--cor-quintenaria);
    text-align: center;
    margin-top: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-size: 3.5rem;
}

/* Container do cronômetro */
.Cronometro-container {
    border: 2px solid var(--cor-secundaria);
    border-radius: 1.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Alteração para layout de coluna */
    align-items: center; /* Centraliza o conteúdo na coluna */
}


/* Estilo dos botões do cronômetro */
.Cronometro-container {
    display: flex;
    flex-direction: column; /* Mantém o layout em coluna para o conteúdo do cronômetro */
    align-items: center;
}

/* Estilo dos botões do cronômetro */
.Cronometro-container button {
    margin: 0.5rem;
    width: 26.5%;
    height: 6vh;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    color: var(--cor-quintenaria);
    text-shadow: 1.5px 1.5px 1.5px black;
    border-radius: 1.2rem;
    border: 2px solid var(--cor-terciaria);
    cursor: pointer;
    background-color: var(--cor-primaria);
}
 button:hover {
    background-color: var(--cor-secundaria);
   
}
/* Estilo do contador do cronômetro */
.contador {
    color: var(--cor-secundaria);
    font-size: 2rem; /* Redução do tamanho da fonte para melhor ajuste */
    font-family: var(--fonte-primaria);
    margin-top: 1rem; /* Ajuste de margem superior para melhor espaçamento */
    text-shadow: 1px 1px 1px var(--cor-quintenaria);
}

/* Ajuste para dispositivos móveis */
@media screen and (max-width: 600px) {



    .Cronometro-container {
        margin: 1rem; /* Ajuste de margem para telas menores */
        border-width: 1px; /* Ajuste de largura da borda para o cronômetro em telas menores */
    }

    .Cronometro {
        text-align: center; /* Centraliza o conteúdo dentro do container */
    }

    button {
        width: 100%; /* Fazendo com que os botões ocupem a largura total em telas menores */
        margin: 0.3rem 0; /* Adiciona margem superior e inferior para espaçamento entre os botões */
    }

    .contador {
        font-size: 1.5rem; /* Ajuste do tamanho da fonte para telas menores */
        margin-top: 0.3rem; /* Ajuste de margem superior para telas menores */
    }

    .Cronometro-container {
        border-radius: 1rem; /* Arredonda mais as bordas para um visual mais suave */
    }

     button:hover {
        width: 100%; /* Mantém a largura total no hover */
    }

    /* Ajustes adicionais para tornar a página mais amigável em telas menores */
    .page-container {
        margin: 0.5rem; /* Adaptação de margem para telas menores */
    }

    .index-title {
        font-size: 2rem; /* Redução do tamanho da fonte do título para telas menores */
    }
}



